# Import Library

In [89]:
import csv
import pandas as pd
import numpy as np
import os

컨테이너 ID 기준으로 모든 CSV 파일을 통합하는 과정

In [97]:
cwd = os.getcwd()
print('현재 폴더 경로 : ', cwd)
# 폴더 위치 변경
os.chdir("C:\\Users\hyunj\\Dropbox\\종합설계프로젝트\\중요\\데이터")
print('변경 후 폴더 경로 : ', cwd)
print('현재 폴더 파일 : ', os.listdir())
file_list = os.listdir()
csv_list = [file for file in file_list if file.endswith('.csv')]



for csv_file in csv_list :
    data = pd.read_csv(csv_file, encoding='utf-8')
    print(csv_file +  '의 Column은 ' + data.columns)

현재 폴더 경로 :  C:\Users\hyunj\Dropbox\종합설계프로젝트\중요\데이터
변경 후 폴더 경로 :  C:\Users\hyunj\Dropbox\종합설계프로젝트\중요\데이터
현재 폴더 파일 :  ['Block perspective.csv', 'CHE I perspective.csv', 'CHE II perspective.csv', 'Container perspective.csv', 'FULL', 'Gate perspective.csv', 'ITV perspective.csv', 'old', 'POD', 'QC perspective.csv', 'Vessel perspective.csv', '분포']
Index(['Block perspective.csv의 Column은 Unnamed: 0',
       'Block perspective.csv의 Column은 BLOCK_NAME',
       'Block perspective.csv의 Column은 CAPABILITY',
       'Block perspective.csv의 Column은 BLOCK_CAPACITY',
       'Block perspective.csv의 Column은 CONTAINER_NO',
       'Block perspective.csv의 Column은 VESSEL',
       'Block perspective.csv의 Column은 JOB_TYPE',
       'Block perspective.csv의 Column은 BAY',
       'Block perspective.csv의 Column은 FULL_EMPTY',
       'Block perspective.csv의 Column은 JOB_START_DT',
       'Block perspective.csv의 Column은 JOB_END_DT',
       'Block perspective.csv의 Column은 POD',
       'Block perspective.csv의 Column은 COUNTRY_POD',
       'Block perspective.csv의 Column은 PORT_POD',
       'Block perspective.csv의 Column은 MCHN_ID',
       'Block perspective.csv의 Column은 MCHN_TP_DTL_CD'],
      dtype='object')
Index(['CHE I perspective.csv의 Column은 Unnamed: 0',
       'CHE I perspective.csv의 Column은 MCHN_ID',
       'CHE I perspective.csv의 Column은 CONTAINER_NO',
       'CHE I perspective.csv의 Column은 VESSEL',
       'CHE I perspective.csv의 Column은 JOB_TYPE',
       'CHE I perspective.csv의 Column은 BLOCK_NAME',
       'CHE I perspective.csv의 Column은 BAY',
       'CHE I perspective.csv의 Column은 FULL_EMPTY',
       'CHE I perspective.csv의 Column은 JOB_START_DT',
       'CHE I perspective.csv의 Column은 JOB_END_DT',
       'CHE I perspective.csv의 Column은 MCH_TP_CD',
       'CHE I perspective.csv의 Column은 ITV_ID',
       'CHE I perspective.csv의 Column은 QC_ID'],
      dtype='object')

C:\Users\hyunj\AppData\Local\Temp\ipykernel_17776\3511475718.py:13: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(csv_file, encoding='utf-8')

Index(['CHE II perspective.csv의 Column은 Unnamed: 0',
       'CHE II perspective.csv의 Column은 VESSEL',
       'CHE II perspective.csv의 Column은 CONTAINER_NO',
       'CHE II perspective.csv의 Column은 JOB_START_DT',
       'CHE II perspective.csv의 Column은 JOB_END_DT',
       'CHE II perspective.csv의 Column은 NO_LD',
       'CHE II perspective.csv의 Column은 NO_DS',
       'CHE II perspective.csv의 Column은 QC_ID',
       'CHE II perspective.csv의 Column은 YT_ID',
       'CHE II perspective.csv의 Column은 TC_ID',
       'CHE II perspective.csv의 Column은 RS_ID',
       'CHE II perspective.csv의 Column은 TH_ID',
       'CHE II perspective.csv의 Column은 FULL_EMPTY',
       'CHE II perspective.csv의 Column은 JOB_TYPE'],
      dtype='object')
Index(['Container perspective.csv의 Column은 Unnamed: 0',
       'Container perspective.csv의 Column은 VESSEL',
       'Container perspective.csv의 Column은 CONTAINER_NO',
       'Container perspective.csv의 Column은 MCHN_ID',
       'Container perspective.csv의 Column은 MCHN_TP_CD',
       'Container perspective.csv의 Column은 FULL_EMPTY',
       'Container perspective.csv의 Column은 JOB_TYPE',
       'Container perspective.csv의 Column은 POD',
       'Container perspective.csv의 Column은 BLOCK_BAY',
       'Container perspective.csv의 Column은 JOB_START_DT',
       'Container perspective.csv의 Column은 JOB_END_DT'],
      dtype='object')
Index(['Gate perspective.csv의 Column은 Unnamed: 0',
       'Gate perspective.csv의 Column은 CONTAINER_NO',
       'Gate perspective.csv의 Column은 VESSEL',
       'Gate perspective.csv의 Column은 JOB_TYPE',
       'Gate perspective.csv의 Column은 POD',
       'Gate perspective.csv의 Column은 OUTSERVICE',
       'Gate perspective.csv의 Column은 FULL_EMPTY',
       'Gate perspective.csv의 Column은 JOB_START_DT',
       'Gate perspective.csv의 Column은 JOB_END_DT'],
      dtype='object')
Index(['ITV perspective.csv의 Column은 Unnamed: 0',
       'ITV perspective.csv의 Column은 CONTAINER_NO',
       'ITV perspective.csv의 Column은 VESSEL',
       'ITV perspective.csv의 Column은 JOB_TYPE',
       'ITV perspective.csv의 Column은 BLOCK_NAME',
       'ITV perspective.csv의 Column은 BAY',
       'ITV perspective.csv의 Column은 FULL_EMPTY',
       'ITV perspective.csv의 Column은 JOB_END_DT',
       'ITV perspective.csv의 Column은 JOB_ACT_DT',
       'ITV perspective.csv의 Column은 LADEN_DIST',
       'ITV perspective.csv의 Column은 UNLADEN_DIST',
       'ITV perspective.csv의 Column은 MCHN_ID'],
      dtype='object')
Index(['QC perspective.csv의 Column은 Unnamed: 0',
       'QC perspective.csv의 Column은 QRANE_NO',
       'QC perspective.csv의 Column은 CONTAINER_NO',
       'QC perspective.csv의 Column은 VESSEL',
       'QC perspective.csv의 Column은 JOB_TYPE',
       'QC perspective.csv의 Column은 QUEUE_POSITION',
       'QC perspective.csv의 Column은 FULL_EMPTY',
       'QC perspective.csv의 Column은 BROKEN_REASON',
       'QC perspective.csv의 Column은 JOB_START_DT',
       'QC perspective.csv의 Column은 JOB_END_DT',
       'QC perspective.csv의 Column은 MCHN_ID',
       'QC perspective.csv의 Column은 H_BOX'],
      dtype='object')
Index(['Vessel perspective.csv의 Column은 Unnamed: 0',
       'Vessel perspective.csv의 Column은 CASEID',
       'Vessel perspective.csv의 Column은 INVESSEL',
       'Vessel perspective.csv의 Column은 OUTVESSEL',
       'Vessel perspective.csv의 Column은 DISCHPORT',
       'Vessel perspective.csv의 Column은 COUNTRY_NEXTPOD',
       'Vessel perspective.csv의 Column은 PORT_NEXTPOD',
       'Vessel perspective.csv의 Column은 CONTAINER_NO',
       'Vessel perspective.csv의 Column은 JOB_TYPE',
       'Vessel perspective.csv의 Column은 JOB_END_DT',
       'Vessel perspective.csv의 Column은 FULL_EMPTY',
       'Vessel perspective.csv의 Column은 TML_OUT_DT'],
      dtype='object')

In [98]:
# csv 파일 통합
integrated_data = pd.DataFrame()
for csv_file in csv_list:
    data = pd.read_csv(csv_file, encoding='utf-8', low_memory=False)
    '''if 'JOB_START_DT' in list(data.columns) :
        data['JOB_START_DT'] = data['JOB_START_DT'].astype(str) 
        data['JOB_START_DT'] = pd.to_datetime(data['JOB_START_DT'])
        
    if 'JOB_END_DT' in list(data.columns) :
        data['JOB_END_DT'] = data['JOB_END_DT'].astype(str) 
        data['JOB_END_DT'] = pd.to_datetime(data['JOB_END_DT'])
        
    if 'TML_OUT_DT' in list(data.columns) :
        data['TML_OUT_DT'] = data['TML_OUT_DT'].astype(str) 
        data['TML_OUT_DT'] = pd.to_datetime(data['TML_OUT_DT'])'''

    integrated_data = pd.concat([integrated_data,data])
    
integrated_data = integrated_data.reset_index(drop = True)
integrated_data

,Unnamed: 0,BLOCK_NAME,CAPABILITY,BLOCK_CAPACITY,CONTAINER_NO,VESSEL,JOB_TYPE,BAY,FULL_EMPTY,JOB_START_DT,...,QUEUE_POSITION,BROKEN_REASON,H_BOX,CASEID,INVESSEL,OUTVESSEL,DISCHPORT,COUNTRY_NEXTPOD,PORT_NEXTPOD,TML_OUT_DT
0,1,2D,2750.0,0.0,9230594-1,MATZ-001/2018,DS,18.0,F,2.018011e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,2B,2750.0,0.0,BBZU2023436-1,MEVA-005/2017,DS,37.0,F,2.018010e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,2B,2750.0,0.0,BBZU2023544-1,MEVA-005/2017,DS,37.0,F,2.018010e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,2B,2750.0,0.0,BMOU2442940-2,MLER-004/2017,DS,77.0,F,2.018010e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,3A,2530.0,0.0,BSIU3056058-1,MTTE-001/2018,DS,71.0,F,2.018011e+13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1432253,26718,NaN,NaN,NaN,MRSU3462652-1,NaN,D,NaN,F,NaN,...,NaN,NaN,NaN,MRBO-001/2018-MSMK-002/2018,MRBO-001/2018,MSMK-002/2018,KRPUS,CA,VAN,2.018020e+13
1432254,26719,NaN,NaN,NaN,FCIU8255230-2,NaN,D,NaN,F,NaN,...,NaN,NaN,NaN,MRBO-001/2018-MSMK-002/2018,MRBO-001/2018,MSMK-002/2018,KRPUS,CA,PRR,2.018020e+13
1432255,26720,NaN,NaN,NaN,MRKU3265054-1,NaN,D,NaN,F,NaN,...,NaN,NaN,NaN,MRBO-001/2018-MSMK-002/2018,MRBO-001/2018,MSMK-002/2018,KRPUS,CA,VAN,2.018020e+13
1432256,26721,NaN,NaN,NaN,FCIU9183052-1,NaN,D,NaN,F,NaN,...,NaN,NaN,NaN,MRBO-001/2018-MSMK-002/2018,MRBO-001/2018,MSMK-002/2018,KRPUS,CA,PRR,2.018020e+13
1432257,26722,NaN,NaN,NaN,GESU6926626-1,NaN,D,NaN,F,NaN,...,NaN,NaN,NaN,MRBO-001/2018-MAMS-002/2018,MRBO-001/2018,MAMS-002/2018,KRPUS,CA,VAN,NaN

In [92]:
integrated_data.isnull().sum()

Unnamed: 0               0
BLOCK_NAME          877378
CAPABILITY         1226742
BLOCK_CAPACITY     1225504
CONTAINER_NO             0
VESSEL               26722
JOB_TYPE                 0
BAY                 879907
FULL_EMPTY               0
JOB_START_DT        168194
JOB_END_DT               6
POD                 722978
COUNTRY_POD        1225504
PORT_POD           1225504
MCHN_ID             311637
MCHN_TP_DTL_CD     1225504
MCH_TP_CD          1225574
ITV_ID             1225583
QC_ID              1093153
NO_LD              1225574
NO_DS              1225574
YT_ID              1262712
TC_ID              1231967
RS_ID              1432167
TH_ID              1427976
MCHN_TP_CD         1007941
BLOCK_BAY          1007932
OUTSERVICE         1392530
JOB_ACT_DT         1290816
LADEN_DIST         1290816
UNLADEN_DIST       1290816
QRANE_NO           1290816
QUEUE_POSITION     1290816
BROKEN_REASON      1432258
H_BOX              1290816
CASEID             1405536
INVESSEL           1405536
OUTVESSEL          1405536
DISCHPORT          1405536
COUNTRY_NEXTPOD    1405536
PORT_NEXTPOD       1405536
TML_OUT_DT         1406225
dtype: int64

In [99]:
integrated_data.fillna(0, inplace=True)

In [94]:
integrated_data.isnull().sum()

Unnamed: 0         0
BLOCK_NAME         0
CAPABILITY         0
BLOCK_CAPACITY     0
CONTAINER_NO       0
VESSEL             0
JOB_TYPE           0
BAY                0
FULL_EMPTY         0
JOB_START_DT       0
JOB_END_DT         0
POD                0
COUNTRY_POD        0
PORT_POD           0
MCHN_ID            0
MCHN_TP_DTL_CD     0
MCH_TP_CD          0
ITV_ID             0
QC_ID              0
NO_LD              0
NO_DS              0
YT_ID              0
TC_ID              0
RS_ID              0
TH_ID              0
MCHN_TP_CD         0
BLOCK_BAY          0
OUTSERVICE         0
JOB_ACT_DT         0
LADEN_DIST         0
UNLADEN_DIST       0
QRANE_NO           0
QUEUE_POSITION     0
BROKEN_REASON      0
H_BOX              0
CASEID             0
INVESSEL           0
OUTVESSEL          0
DISCHPORT          0
COUNTRY_NEXTPOD    0
PORT_NEXTPOD       0
TML_OUT_DT         0
dtype: int64

In [100]:
# 데이터 변환
# 데이터를 disco에 넣기 위해 Timestamp 양식 변환
integrated_data['JOB_START_DT'] = pd.to_numeric(integrated_data['JOB_START_DT'])
integrated_data['JOB_END_DT'] = pd.to_numeric(integrated_data['JOB_END_DT'])

'''integrated_data['JOB_START_DT'] = integrated_data['JOB_START_DT'].astype(str)
integrated_data['JOB_END_DT'] = integrated_data['JOB_END_DT'].astype(str)'''

In [96]:
# 데이터 데이트타임으로 변환
integrated_data['JOB_START_DT'] = pd.to_datetime(integrated_data['JOB_START_DT'])
integrated_data['JOB_END_DT'] = pd.to_datetime(integrated_data['JOB_END_DT'])
integrated_data.info()

ValueError: Given date string not likely a datetime.

In [ ]:
# csv 파일 저장
# integrated_data.to_csv('Integrated Data.csv', encoding='cp949', index=False)

In [ ]:
integrated_data.head()

,Unnamed: 0,BLOCK_NAME,CAPABILITY,BLOCK_CAPACITY,CONTAINER_NO,VESSEL,JOB_TYPE,BAY,FULL_EMPTY,JOB_START_DT,...,QUEUE_POSITION,BROKEN_REASON,H_BOX,CASEID,INVESSEL,OUTVESSEL,DISCHPORT,COUNTRY_NEXTPOD,PORT_NEXTPOD,TML_OUT_DT
0,1,2D,2750.0,0.0,9230594-1,MATZ-001/2018,DS,18.0,F,1969-12-07 03:28:36.352,...,0,0.0,0.0,0,0,0,0,0,0,0.0
1,2,2B,2750.0,0.0,BBZU2023436-1,MEVA-005/2017,DS,37.0,F,1969-12-07 03:28:36.352,...,0,0.0,0.0,0,0,0,0,0,0,0.0
2,3,2B,2750.0,0.0,BBZU2023544-1,MEVA-005/2017,DS,37.0,F,1969-12-07 03:28:36.352,...,0,0.0,0.0,0,0,0,0,0,0,0.0
3,4,2B,2750.0,0.0,BMOU2442940-2,MLER-004/2017,DS,77.0,F,1969-12-07 03:28:36.352,...,0,0.0,0.0,0,0,0,0,0,0,0.0
4,5,3A,2530.0,0.0,BSIU3056058-1,MTTE-001/2018,DS,71.0,F,1969-12-07 03:28:36.352,...,0,0.0,0.0,0,0,0,0,0,0,0.0