# Import Library

In [66]:
import pandas as pd
import numpy as np
import os

# 시작

In [67]:
cwd = os.getcwd()
print('현재 폴더 경로 : ', cwd)
# 폴더 위치 변경
os.chdir("C:\\Users\hyunj\\Dropbox\\종합설계프로젝트\\중요\\데이터")
print('변경 후 폴더 경로 : ', cwd)
print('현재 폴더 파일 : ', os.listdir())
data = pd.read_csv('ContainerPersp.csv', encoding='CP949')
print('feature 항목 : ', data.columns)
data

현재 폴더 경로 :  C:\Users\hyunj\Dropbox\종합설계프로젝트\중요\데이터
변경 후 폴더 경로 :  C:\Users\hyunj\Dropbox\종합설계프로젝트\중요\데이터
현재 폴더 파일 :  ['Block perspective.xlsx', 'CHE I perspective.xlsx', 'CHE II perspective.xlsx', 'Container perspective.xlsx', 'ContainerPersp.csv', 'Gate perspective.xlsx', 'hanjin.csv', 'ITV perspective.xlsx', 'QC perspective.csv', 'QC perspective.xlsx', 'Vessel perspective.xlsx', '임시데이터.csv']
feature 항목 :  Index(['ID', 'VESSEL', 'CONTAINER_NO', 'MCHN_ID', 'MCHN_TP_CD', 'FULL_EMPTY',
       'JOB_TYPE', 'POD', 'BLOCK_BAY', 'JOB_START_DT', 'JOB_END_DT'],
      dtype='object')

,ID,VESSEL,CONTAINER_NO,MCHN_ID,MCHN_TP_CD,FULL_EMPTY,JOB_TYPE,POD,BLOCK_BAY,JOB_START_DT,JOB_END_DT
0,1,ALAP-001/2018,AXIU1484082-2,GC112,QC,F,DS-QUAYSIDE,KRPUS,1B-38,20180131211752,20180131211924
1,2,ALAP-001/2018,AXIU1484082-2,TC221,TC,F,DS-YARDSIDE,KRPUS,1B-38,20180131213633,20180131213805
2,3,ALAP-001/2018,AXIU1484082-2,YT511,YT,F,DS-MOVE,KRPUS,1B-38,20180131211924,20180131213633
3,4,ALAP-001/2018,BEAU2976719-1,GC111,GC,F,LD-QUAYSIDE,CAVAN,2B-19,20180131202120,20180131202353
4,5,ALAP-001/2018,BEAU2976719-1,TC223,TC,F,LD-YARDSIDE,CAVAN,2B-19,20180131200147,20180131200420
...,...,...,...,...,...,...,...,...,...,...,...
424321,424322,SXNW-001/2018,XINU1481982-2,TC225,TC,F,LD-YARDSIDE,CAPRR,3B-43,20180130005307,20180130005540
424322,424323,SXNW-001/2018,XINU1481982-2,YT505,YT,F,LD-MOVE,CAPRR,3B-43,20180130005540,20180130010743
424323,424324,SXNW-001/2018,YMLU3166534-1,GC111,GC,F,LD-QUAYSIDE,CAPRR,1D-45,20180129224745,20180129225018
424324,424325,SXNW-001/2018,YMLU3166534-1,TC242,TC,F,LD-YARDSIDE,CAPRR,1D-45,20180129224307,20180129224540
424325,424326,SXNW-001/2018,YMLU3166534-1,YT522,YT,F,LD-MOVE,CAPRR,1D-45,20180129224540,20180129224745

In [68]:
print('작업 항목 : ', data['JOB_TYPE'].unique())

작업 항목 :  ['DS-QUAYSIDE' 'DS-YARDSIDE' 'DS-MOVE' 'LD-QUAYSIDE' 'LD-YARDSIDE'
 'LD-MOVE']

In [69]:
print('뭔지는 모르겠지만 중요해보이는 것 아마 장소로 예측 : ', data['MCHN_TP_CD'].unique())

뭔지는 모르겠지만 중요해보이는 것 아마 장소로 예측 :  ['QC' 'TC' 'YT' 'GC' 'RS' 'TH' nan]

In [70]:
print(data.isnull().sum()) # 결측치가 어느정도 있는 것을 확인

ID              0
VESSEL          0
CONTAINER_NO    0
MCHN_ID         9
MCHN_TP_CD      9
FULL_EMPTY      0
JOB_TYPE        0
POD             0
BLOCK_BAY       0
JOB_START_DT    0
JOB_END_DT      0
dtype: int64

In [71]:
print('Vessel 종류 : ', data['VESSEL'].unique())
print('Vessel 수 : ' ,len(data['VESSEL'].unique()))

Vessel 종류 :  ['ALAP-001/2018' 'ALWV-001/2018' 'ALWV-002/2018' 'BEDR-001/2018'
 'CKSF-001/2018' 'CKSF-002/2018' 'CMHT-001/2018' 'CMHT-002/2018'
 'CONY-001/2018' 'CQYH-001/2018' 'CQYH-002/2018' 'CQYH-003/2018'
 'CSOP-001/2018' 'CSYH-001/2018' 'DWFM-001/2018' 'DWFM-002/2018'
 'DWFM-003/2018' 'EANG-001/2018' 'EANG-002/2018' 'EANG-003/2018'
 'EANG-004/2018' 'EHDR-001/2018' 'ELET-001/2018' 'ELET-005/2017'
 'ERMX-001/2017' 'ERMX-001/2018' 'GHZD-001/2018' 'HAMA-001/2018'
 'HBLW-001/2018' 'HBLW-002/2018' 'HHSU-001/2018' 'HHSU-002/2018'
 'HKNG-001/2018' 'HKNG-003/2018' 'HKNG-004/2018' 'HMBR-001/2018'
 'JBAX-001/2018' 'KBDP-005/2017' 'KKDB-001/2018' 'KKHK-001/2018'
 'KKLR-001/2018' 'KKLR-002/2018' 'KKMB-001/2018' 'KKMN-001/2018'
 'KKMN-002/2018' 'KKSG-001/2018' 'KNMG-001/2018' 'KWID-001/2018'
 'MAMS-001/2018' 'MATN-001/2018' 'MATN-002/2018' 'MATZ-001/2018'
 'MAUO-001/2018' 'MBET-001/2018' 'MBNT-001/2018' 'MCTU-001/2018'
 'MCTU-002/2018' 'MCTU-003/2018' 'MCTU-004/2018' 'MCTU-005/2018'
 'MEFD-001/2018' 'MELN-001/2018' 'MELN-002/2018' 'MELN-003/2018'
 'MELN-004/2018' 'MEVA-005/2017' 'MGAI-001/2018' 'MGDR-001/2018'
 'MGED-001/2018' 'MGRN-001/2018' 'MHAH-002/2018' 'MHFB-001/2018'
 'MHSB-001/2018' 'MIYO-001/2018' 'MJLN-001/2018' 'MKNS-001/2018'
 'MKOR-001/2018' 'MKOR-002/2018' 'MKUR-001/2018' 'MKYT-001/2018'
 'MKYT-002/2018' 'MLCT-001/2018' 'MLER-004/2017' 'MLIV-001/2018'
 'MMDR-001/2018' 'MMIR-001/2018' 'MMKB-001/2018' 'MNDF-001/2018'
 'MNDF-002/2018' 'MNPT-001/2018' 'MNUR-001/2018' 'MOGS-001/2018'
 'MPUE-001/2018' 'MPUE-002/2018' 'MRBE-001/2018' 'MRBO-001/2018'
 'MRJY-001/2018' 'MRJY-002/2018' 'MSCR-001/2018' 'MSFA-001/2018'
 'MSFA-002/2018' 'MSMK-001/2018' 'MSOR-001/2018' 'MSPH-001/2018'
 'MSTN-001/2018' 'MSVA-001/2018' 'MSVV-001/2018' 'MSWG-001/2018'
 'MSWG-002/2018' 'MTTE-001/2018' 'MUFT-001/2018' 'MUFT-002/2018'
 'MURK-001/2018' 'MWSW-001/2018' 'OYPA-001/2018' 'OYPA-002/2018'
 'PIRS-001/2018' 'PKVY-001/2018' 'PKVY-002/2018' 'ROSA-001/2018'
 'SFNK-001/2018' 'SFNZ-001/2018' 'SKAK-002/2018' 'SKTJ-001/2018'
 'SKVL-001/2018' 'SMSA-001/2018' 'SSUS-002/2018' 'SSUS-003/2018'
 'SSUS-004/2018' 'SWLC-001/2018' 'SWLC-002/2018' 'SXNW-001/2018']
Vessel 수 :  132

In [72]:
print('컨테이너 종류 : ', data['CONTAINER_NO'].unique())
print('컨테이너 수 : ' ,len(data['CONTAINER_NO'].unique()))

컨테이너 종류 :  ['AXIU1484082-2' 'BEAU2976719-1' 'BGBU5060490-3' ... 'UESU4153686-1'
 'UESU4586161-1' 'UETU5492311-3']
컨테이너 수 :  116507

In [73]:
temp_list = list(data.columns)
# ID는 확인할 필요 없으니 제거하고~
temp_list.remove('ID')
for feature in temp_list :
    unique_list = data[feature].unique()
    print("Feature : ", feature)
    print(feature, ' 개수 : ', len(unique_list))
    print(feature, ' 종류 : ', unique_list)

Feature :  VESSEL
VESSEL  개수 :  132
VESSEL  종류 :  ['ALAP-001/2018' 'ALWV-001/2018' 'ALWV-002/2018' 'BEDR-001/2018'
 'CKSF-001/2018' 'CKSF-002/2018' 'CMHT-001/2018' 'CMHT-002/2018'
 'CONY-001/2018' 'CQYH-001/2018' 'CQYH-002/2018' 'CQYH-003/2018'
 'CSOP-001/2018' 'CSYH-001/2018' 'DWFM-001/2018' 'DWFM-002/2018'
 'DWFM-003/2018' 'EANG-001/2018' 'EANG-002/2018' 'EANG-003/2018'
 'EANG-004/2018' 'EHDR-001/2018' 'ELET-001/2018' 'ELET-005/2017'
 'ERMX-001/2017' 'ERMX-001/2018' 'GHZD-001/2018' 'HAMA-001/2018'
 'HBLW-001/2018' 'HBLW-002/2018' 'HHSU-001/2018' 'HHSU-002/2018'
 'HKNG-001/2018' 'HKNG-003/2018' 'HKNG-004/2018' 'HMBR-001/2018'
 'JBAX-001/2018' 'KBDP-005/2017' 'KKDB-001/2018' 'KKHK-001/2018'
 'KKLR-001/2018' 'KKLR-002/2018' 'KKMB-001/2018' 'KKMN-001/2018'
 'KKMN-002/2018' 'KKSG-001/2018' 'KNMG-001/2018' 'KWID-001/2018'
 'MAMS-001/2018' 'MATN-001/2018' 'MATN-002/2018' 'MATZ-001/2018'
 'MAUO-001/2018' 'MBET-001/2018' 'MBNT-001/2018' 'MCTU-001/2018'
 'MCTU-002/2018' 'MCTU-003/2018' 'MCTU-004/2018' 'MCTU-005/2018'
 'MEFD-001/2018' 'MELN-001/2018' 'MELN-002/2018' 'MELN-003/2018'
 'MELN-004/2018' 'MEVA-005/2017' 'MGAI-001/2018' 'MGDR-001/2018'
 'MGED-001/2018' 'MGRN-001/2018' 'MHAH-002/2018' 'MHFB-001/2018'
 'MHSB-001/2018' 'MIYO-001/2018' 'MJLN-001/2018' 'MKNS-001/2018'
 'MKOR-001/2018' 'MKOR-002/2018' 'MKUR-001/2018' 'MKYT-001/2018'
 'MKYT-002/2018' 'MLCT-001/2018' 'MLER-004/2017' 'MLIV-001/2018'
 'MMDR-001/2018' 'MMIR-001/2018' 'MMKB-001/2018' 'MNDF-001/2018'
 'MNDF-002/2018' 'MNPT-001/2018' 'MNUR-001/2018' 'MOGS-001/2018'
 'MPUE-001/2018' 'MPUE-002/2018' 'MRBE-001/2018' 'MRBO-001/2018'
 'MRJY-001/2018' 'MRJY-002/2018' 'MSCR-001/2018' 'MSFA-001/2018'
 'MSFA-002/2018' 'MSMK-001/2018' 'MSOR-001/2018' 'MSPH-001/2018'
 'MSTN-001/2018' 'MSVA-001/2018' 'MSVV-001/2018' 'MSWG-001/2018'
 'MSWG-002/2018' 'MTTE-001/2018' 'MUFT-001/2018' 'MUFT-002/2018'
 'MURK-001/2018' 'MWSW-001/2018' 'OYPA-001/2018' 'OYPA-002/2018'
 'PIRS-001/2018' 'PKVY-001/2018' 'PKVY-002/2018' 'ROSA-001/2018'
 'SFNK-001/2018' 'SFNZ-001/2018' 'SKAK-002/2018' 'SKTJ-001/2018'
 'SKVL-001/2018' 'SMSA-001/2018' 'SSUS-002/2018' 'SSUS-003/2018'
 'SSUS-004/2018' 'SWLC-001/2018' 'SWLC-002/2018' 'SXNW-001/2018']
Feature :  CONTAINER_NO
CONTAINER_NO  개수 :  116507
CONTAINER_NO  종류 :  ['AXIU1484082-2' 'BEAU2976719-1' 'BGBU5060490-3' ... 'UESU4153686-1'
 'UESU4586161-1' 'UETU5492311-3']
Feature :  MCHN_ID
MCHN_ID  개수 :  167
MCHN_ID  종류 :  ['GC112' 'TC221' 'YT511' 'GC111' 'TC223' 'GC109' 'TC266' 'YT538' 'YT540'
 'YT526' 'TC265' 'YT505' 'TC261' 'YT546' 'TC226' 'YT520' 'TC224' 'TC222'
 'YT518' 'YT524' 'TC264' 'YT517' 'GC110' 'TC263' 'YT577' 'TC245' 'YT506'
 'YT536' 'TC272' 'YT525' 'TC233' 'TC211' 'YT501' 'YT503' 'YT508' 'TC225'
 'TC232' 'YT541' 'TC242' 'TC212' 'TC214' 'TC241' 'TC271' 'TC262' 'TC235'
 'YT576' 'TC244' 'YT507' 'YT513' 'YT532' 'TC216' 'YT516' 'TC213' 'TC231'
 'YT519' 'YT537' 'YT550' 'YT589' 'YT543' 'TC236' 'TC253' 'TC255' 'YT571'
 'TC243' 'TC256' 'YT530' 'TC274' 'TC234' 'YT502' 'YT554' 'YT555' 'TC275'
 'TC276' 'TC273' 'TC254' 'YT585' 'TC215' 'YT564' 'YT551' 'YT566' 'YT573'
 'YT549' 'YT569' 'YT563' 'YT592' 'YT558' 'YT552' 'YT556' 'TC251' 'YT583'
 'YT572' 'YT587' 'YT567' 'RS300' 'YT581' 'TC246' 'YT582' 'YT565' 'YT559'
 'YT578' 'YT575' 'YT584' 'YT560' 'YT590' 'YT594' 'RS309' 'YT561' 'YT548'
 'YT562' 'YT591' 'YT586' 'YT568' 'YT547' 'YT574' 'YT557' 'YT596' 'TC252'
 'YT510' 'YT523' 'YT522' 'RS311' 'YT509' 'YT531' 'YT539' 'YT535' 'YT533'
 'YT515' 'YT512' 'YT504' 'YT593' 'YT570' 'YT580' 'YT579' 'GC105' 'YT521'
 'YT534' 'YT544' 'YT542' 'GC106' 'YT529' 'GC102' 'TH311' 'GC107' 'GC104'
 'GC103' 'YT527' 'YT514' 'RS302' 'TH312' 'TH412' 'GC101' 'TH313' 'YT595'
 'YT528' 'YT553' 'YT545' 'YT588' 'RS303' 'RS304' 'TH414' 'YT500' 'RS313'
 'RS305' nan 'RS301' 'TH413' 'TH411']
Feature :  MCHN_TP_CD
MCHN_TP_CD  개수 :  7
MCHN_TP_CD  종류 :  ['QC' 'TC' 'YT' 'GC' 'RS' 'TH' nan]
Feature :  FULL_EMPTY
FULL_EMPTY  개수 :  2
FULL_EMPTY  종류 :  ['F' 'M']
Feature :  JOB_TYPE
JOB_TYPE  개수 :  6
JOB_TYPE  종류 :  ['DS-QUAYSIDE' 'DS-YARDSIDE' 'DS-MOVE' 'LD-QUAYSIDE' 'LD-YARDSIDE'
 'LD-MOVE']
Feature :  POD
POD  개수 :  87
POD  종류 :  ['KRPUS' 'CAVAN' 'USSEA' 'RUVVO' 'RUFPT' 'KRKAN' 'CNSHA' 'TWKHH' 'CNTAO'
 'IDJKT' 'CNNGB' 'MYTPP' 'IDSUB' 'RUVYP' 'JPAXT' 'JPTMK' 'JPKIJ' 'CNYTN'
 'CNXMN' 'INNSA' 'PKKHI' 'INMUN' 'CNSHK' 'SGSIN' 'MYPKG' 'CNXGG' 'CNDLC'
 'CNYNT' 'KRINC' 'EGPSD' 'THBKK' 'THLCH' 'HKHKG' 'VNSGN' 'PHDVO' 'PHMIP'
 'KRPNC' 'CNNAH' 'JPHKT' 'PLGDN' 'NLRTM' 'DEBRV' 'DEBR1' 'TRIST' 'TRTEK'
 'TRAMR' 'TRYAR' 'TRBKS' 'SAKAP' 'TRKFZ' 'GRPIR' 'ITSPE' 'FRFOS' 'LBBEY'
 'ITGIT' 'ITGOA' 'EGSUZ' 'ESBCN' 'RUDAZ' 'RUPLO' 'KRPOH' 'ILHFA' 'SIKP2'
 'SIKOP' 'ITTRS' 'HRRJK' 'SIKP1' 'JPMOJ' 'JPNGO' 'USHOU' 'USMOB' 'BSFPO'
 'ESVLC' 'CAPRR' 'CLSVE' 'NZTRG' 'CLVAP' 'GBFXT' 'BEANR' 'ESALG' 'PAPAC'
 'MTMAR' 'MMRGN' 'MMMIT' 'PECLL' 'JPSHS' 'JPHSM']
Feature :  BLOCK_BAY
BLOCK_BAY  개수 :  1042
BLOCK_BAY  종류 :  ['1B-38' '2B-19' '3F-69' ... '1M-54' '2X-52' '1R-17']
Feature :  JOB_START_DT
JOB_START_DT  개수 :  368960
JOB_START_DT  종류 :  [20180131211752 20180131213633 20180131211924 ... 20180130005540
 20180129224307 20180129224540]
Feature :  JOB_END_DT
JOB_END_DT  개수 :  363124
JOB_END_DT  종류 :  [20180131211924 20180131213805 20180131213633 ... 20180130022307
 20180130005540 20180129224540]

In [74]:
# 데이터 프레임 시간 순서대로 정렬
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424326 entries, 0 to 424325
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            424326 non-null  int64
 1   VESSEL        424326 non-null  object
 2   CONTAINER_NO  424326 non-null  object
 3   MCHN_ID       424317 non-null  object
 4   MCHN_TP_CD    424317 non-null  object
 5   FULL_EMPTY    424326 non-null  object
 6   JOB_TYPE      424326 non-null  object
 7   POD           424326 non-null  object
 8   BLOCK_BAY     424326 non-null  object
 9   JOB_START_DT  424326 non-null  int64
 10  JOB_END_DT    424326 non-null  int64
dtypes: int64(3), object(8)
memory usage: 35.6+ MB

In [75]:
sorted_data = data.sort_values('JOB_START_DT')
sorted_data

,ID,VESSEL,CONTAINER_NO,MCHN_ID,MCHN_TP_CD,FULL_EMPTY,JOB_TYPE,POD,BLOCK_BAY,JOB_START_DT,JOB_END_DT
116218,116219,MCTU-001/2018,MRKU6568711-1,TC235,TC,F,LD-YARDSIDE,RUDAZ,3C-27,20180101005301,20180101005534
116146,116147,MCTU-001/2018,MRKU3059644-1,TC222,TC,F,LD-YARDSIDE,RUDAZ,1B-68,20180101005336,20180101005609
116122,116123,MCTU-001/2018,MAEU4639487-1,TC235,TC,F,LD-YARDSIDE,RUDAZ,3C-27,20180101005429,20180101005702
116392,116393,MCTU-001/2018,MSKU1197693-1,TC212,TC,F,LD-YARDSIDE,RUDAZ,1A-92,20180101005531,20180101005804
116219,116220,MCTU-001/2018,MRKU6568711-1,YT507,YT,F,LD-MOVE,RUDAZ,3C-27,20180101005534,20180101005830
...,...,...,...,...,...,...,...,...,...,...,...
831,832,ALAP-001/2018,MRSU3156673-1,GC110,GC,F,LD-QUAYSIDE,USSEA,1C-76,20180131235950,20180201000223
1368,1369,ALAP-001/2018,RJCU4323853-1,GC111,GC,F,LD-QUAYSIDE,USSEA,3C-02,20180131235951,20180201000224
312589,312590,MRBO-001/2018,SUDU6035071-2,TC245,TC,F,DS-YARDSIDE,KRPUS,3D-14,20180131235956,20180201000128
312577,312578,MRBO-001/2018,SUDU5139298-1,TC256,TC,F,DS-YARDSIDE,KRPUS,3E-82,20180201000253,20180201000425
303784,303785,MRBO-001/2018,GESU6926626-1,TC241,TC,F,DS-YARDSIDE,KRPUS,1D-18,20180201000527,20180201000659

In [76]:
container_list = []
container_temp_list = data['CONTAINER_NO'].unique()

for id in container_temp_list :
    temp = id.split('-')
    container_list.append(temp[0])

print('컨테이너 ID : ', len(container_list))
print('중복을 제거한 컨테이너 ID : ', len(set(container_list)))
# 총 7,974개의 컨테이너가 중복

컨테이너 ID :  116507
중복을 제거한 컨테이너 ID :  108533

In [77]:
# 데이터를 disco에 넣기 위해 Timestamp 양식 변환
data['JOB_START_DT'] = data['JOB_START_DT'].astype('str')
data['JOB_END_DT'] = data['JOB_END_DT'].astype('str')

In [78]:
print(data.loc[10, 'JOB_START_DT'])
print(data.loc[10, 'JOB_START_DT'][:4]+"-"+data.loc[10, 'JOB_START_DT'][4:6]+"-"+data.loc[10, 'JOB_START_DT'][6:8] + " " + \
      data.loc[10, 'JOB_START_DT'][8:10] + ":" + data.loc[10, 'JOB_START_DT'][10:12] + ":" + data.loc[10, 'JOB_START_DT'][12:])

20180131210446
2018-01-31 21:04:46

In [79]:
# 엑셀에서 to_datetime()을 했는데도 초가 안 나와서 이렇게 했는데 엑셀 포멧이 달라서 안 보였던 것이지 정상적으로 수행하여 주석처리 함
'''
for i in range(len(data)) :
    start_temp = data.loc[i, 'JOB_START_DT']
    end_temp = data.loc[i, 'JOB_END_DT']
    
    data.loc[i, 'JOB_START_DT'] = start_temp[:4]+"-"+start_temp[4:6]+"-"+start_temp[6:8] + " " + \
      start_temp[8:10] + ":" + start_temp[10:12] + ":" + start_temp[12:]
    data.loc[i, 'JOB_END_DT'] = end_temp[:4]+"-"+end_temp[4:6]+"-"+end_temp[6:8] + " " + \
      end_temp[8:10] + ":" + end_temp[10:12] + ":" + end_temp[12:]
'''

'\nfor i in range(len(data)) :\n    start_temp = data.loc[i, \'JOB_START_DT\']\n    end_temp = data.loc[i, \'JOB_END_DT\']\n    \n    data.loc[i, \'JOB_START_DT\'] = start_temp[:4]+"-"+start_temp[4:6]+"-"+start_temp[6:8] + " " +       start_temp[8:10] + ":" + start_temp[10:12] + ":" + start_temp[12:]\n    data.loc[i, \'JOB_END_DT\'] = end_temp[:4]+"-"+end_temp[4:6]+"-"+end_temp[6:8] + " " +       end_temp[8:10] + ":" + end_temp[10:12] + ":" + end_temp[12:]\n'

In [81]:
data['JOB_START_DT'] = pd.to_datetime(data['JOB_START_DT'])
data['JOB_END_DT'] = pd.to_datetime(data['JOB_END_DT'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 424326 entries, 0 to 424325
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   ID            424326 non-null  int64
 1   VESSEL        424326 non-null  object
 2   CONTAINER_NO  424326 non-null  object
 3   MCHN_ID       424317 non-null  object
 4   MCHN_TP_CD    424317 non-null  object
 5   FULL_EMPTY    424326 non-null  object
 6   JOB_TYPE      424326 non-null  object
 7   POD           424326 non-null  object
 8   BLOCK_BAY     424326 non-null  object
 9   JOB_START_DT  424326 non-null  datetime64[ns]
 10  JOB_END_DT    424326 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 35.6+ MB

In [82]:
data.to_csv('임시데이터.csv', encoding='CP949', index = False)