# Import Library

In [1]:
import pandas as pd
import numpy as np
import os
from tqdm import tqdm

# 시작

In [2]:
cwd = os.getcwd()
print('현재 폴더 경로 : ', cwd)
# 폴더 위치 변경
os.chdir("C:\\Users\hyunj\\Dropbox\\종합설계프로젝트\\중요\\데이터\\통합")
print('변경 후 폴더 경로 : ', cwd)
print('현재 폴더 파일 : ', os.listdir())
data = pd.read_csv('Integrated DStoLD.csv', encoding='CP949')
print('feature 항목 : ', data.columns)
data

현재 폴더 경로 :  c:\Users\hyunj\Desktop\종합설계프로젝트
변경 후 폴더 경로 :  c:\Users\hyunj\Desktop\종합설계프로젝트
현재 폴더 파일 :  ['Integrated DS.csv', 'Integrated DStoLD.csv', 'Integrated LD.csv']

C:\Users\hyunj\AppData\Local\Temp\ipykernel_10840\1463662871.py:7: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('Integrated DStoLD.csv', encoding='CP949')

feature 항목 :  Index(['CONTAINER_NO', 'VESSEL', 'MCHN_ID', 'FULL_EMPTY', 'JOB_TYPE', 'POD',
       'BLOCK_BAY', 'JOB_START_DT', 'JOB_END_DT', 'CHE_ID', 'ITV_ID', 'QC_ID',
       'OUTSERVICE', 'QUEUE_POSITION', 'H_BOX', 'OUTVESSEL', 'COUNTRY_NEXTPOD',
       'PORT_NEXTPOD', 'TML_OUT_DT', 'Unnamed: 0'],
      dtype='object')

,CONTAINER_NO,VESSEL,MCHN_ID,FULL_EMPTY,JOB_TYPE,POD,BLOCK_BAY,JOB_START_DT,JOB_END_DT,CHE_ID,ITV_ID,QC_ID,OUTSERVICE,QUEUE_POSITION,H_BOX,OUTVESSEL,COUNTRY_NEXTPOD,PORT_NEXTPOD,TML_OUT_DT,Unnamed: 0
0,TRLU8938070-9,SFNZ-001/2018,GC102,F,DS-QUAYSIDE,HKHKG,3A-13,2018-01-11 08:05:42.000,2018-01-11 08:07:14.000,NaN,NaN,NaN,NaN,21D-D,1018.0,NaN,NaN,NaN,NaN,NaN
1,TRLU8938070-9,SFNZ-001/2018,YT570,F,DS-MOVE,HKHKG,3A-13,2018-01-11 08:07:14.000,2018-01-11 08:14:50.000,TC215,YT570,GC101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TRLU8938070-9,SFNZ-001/2018,TC215,F,DS-YARDSIDE,HKHKG,3A-13,2018-01-11 08:14:50.000,2018-01-11 08:16:22.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TRLU8938070-9,SFNZ-001/2018,TC216,F,LD-YARDSIDE,HKHKG,3A-13,2018-01-11 09:18:09.000,2018-01-11 09:20:42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,TRLU8938070-9,SFNZ-001/2018,YT539,F,LD-MOVE,HKHKG,3A-13,2018-01-11 09:20:42.000,2018-01-11 09:50:51.000,TC216,YT539,GC101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149399,BEAU2976719-1,MAUO-001/2018,YT586,F,DS-MOVE,KRPUS,2B-19,2018-01-27 16:02:11.000,2018-01-27 16:10:10.000,TC223,YT586,GC111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149400,BEAU2976719-1,MAUO-001/2018,TC223,F,DS-YARDSIDE,KRPUS,2B-19,2018-01-27 16:10:10.000,2018-01-27 16:11:42.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149401,BEAU2976719-1,ALAP-001/2018,TC223,F,LD-YARDSIDE,CAVAN,2B-19,2018-01-31 20:01:47.000,2018-01-31 20:04:20.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149402,BEAU2976719-1,ALAP-001/2018,YT511,F,LD-MOVE,CAVAN,2B-19,2018-01-31 20:04:20.000,2018-01-31 20:21:20.000,TC223,YT511,GC111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149403,BEAU2976719-1,ALAP-001/2018,GC111,F,LD-QUAYSIDE,CAVAN,2B-19,2018-01-31 20:21:20.000,2018-01-31 20:23:53.000,NaN,NaN,NaN,NaN,34H-L,531.0,NaN,NaN,NaN,NaN,NaN

In [4]:
data.drop('Unnamed: 0', axis = 1, inplace=True)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149404 entries, 0 to 149403
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CONTAINER_NO     149404 non-null  object
 1   VESSEL           149404 non-null  object
 2   MCHN_ID          149400 non-null  object
 3   FULL_EMPTY       149404 non-null  object
 4   JOB_TYPE         149404 non-null  object
 5   POD              149404 non-null  object
 6   BLOCK_BAY        149400 non-null  object
 7   JOB_START_DT     149400 non-null  object
 8   JOB_END_DT       149404 non-null  object
 9   CHE_ID           49800 non-null   object
 10  ITV_ID           49800 non-null   object
 11  QC_ID            49800 non-null   object
 12  OUTSERVICE       4 non-null       object
 13  QUEUE_POSITION   49800 non-null   object
 14  H_BOX            49800 non-null   float64
 15  OUTVESSEL        21181 non-null   object
 16  COUNTRY_NEXTPOD  21181 non-null   object
 17  PORT_NEXTPOD     21181 non-null   object
 18  TML_OUT_DT       21181 non-null   float64
dtypes: float64(2), object(17)
memory usage: 21.7+ MB

In [5]:
data.isnull().sum()

CONTAINER_NO            0
VESSEL                  0
MCHN_ID                 4
FULL_EMPTY              0
JOB_TYPE                0
POD                     0
BLOCK_BAY               4
JOB_START_DT            4
JOB_END_DT              0
CHE_ID              99604
ITV_ID              99604
QC_ID               99604
OUTSERVICE         149400
QUEUE_POSITION      99604
H_BOX               99604
OUTVESSEL          128223
COUNTRY_NEXTPOD    128223
PORT_NEXTPOD       128223
TML_OUT_DT         128223
dtype: int64

# 데이터 전처리

In [10]:
# Nan 데이터 삭제
'''
data.dropna(axis=0, inplace=True)
data.shape
!이렇게 해버리면 데이터 개수가 424317개가 된다 -> 이러면 6으로 나누어 떨어지지 않아서 문제가 발생한다 
! 그렇기 때문에 for으로 해서 없애버리기 container id를 없애버리기
'''
print("결측치 데이터 삭제하기 전의 container id 개수 : ", len(data['CONTAINER_NO'].unique()))
container_list = list(data['CONTAINER_NO'].unique())

# train 데이터 생성
train_df = pd.DataFrame(columns=data.columns)

for container in tqdm(container_list, "결측치 제거중") :
    temp_df = data[data['CONTAINER_NO'] == container].reset_index(drop=True)    
    num_nan = temp_df['JOB_START_DT'].isnull().sum().sum()
    # 만약에 결측치가 있다면, 그 container id는 train data에 포함시키지 않는다
    # 다른 Feature에 결측치가 있는 것은 상관없지만, JOB_START_DT에는 결측치가 있으면 분석이 안되기 때문에 삭제
    if num_nan == 0 :
        train_df = pd.concat([train_df, temp_df])

결측치 데이터 삭제하기 전의 container id 개수 :  24900

결측치 제거중: 100%|██████████| 24900/24900 [10:02<00:00, 41.36it/s]

In [12]:
print("결측치 데이터 삭제한 뒤의 container id 개수 : ", len(train_df['CONTAINER_NO'].unique()))
print("전체 데이터 개수 : ", train_df.shape)
print("결측치 개수 : ", train_df.isnull().sum().sum())

결측치 데이터 삭제한 뒤의 container id 개수 :  24896
전체 데이터 개수 :  (149376, 19)
결측치 개수 :  1160076

In [15]:
data['JOB_START_DT'] = pd.to_datetime(data['JOB_START_DT'])
data['JOB_END_DT'] = pd.to_datetime(data['JOB_END_DT'])
data['TML_OUT_DT'] = pd.to_datetime(data['TML_OUT_DT'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149404 entries, 0 to 149403
Data columns (total 19 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   CONTAINER_NO     149404 non-null  object
 1   VESSEL           149404 non-null  object
 2   MCHN_ID          149400 non-null  object
 3   FULL_EMPTY       149404 non-null  object
 4   JOB_TYPE         149404 non-null  object
 5   POD              149404 non-null  object
 6   BLOCK_BAY        149400 non-null  object
 7   JOB_START_DT     149400 non-null  datetime64[ns]
 8   JOB_END_DT       149404 non-null  datetime64[ns]
 9   CHE_ID           49800 non-null   object
 10  ITV_ID           49800 non-null   object
 11  QC_ID            49800 non-null   object
 12  OUTSERVICE       4 non-null       object
 13  QUEUE_POSITION   49800 non-null   object
 14  H_BOX            49800 non-null   float64
 15  OUTVESSEL        21181 non-null   object
 16  COUNTRY_NEXTPOD  21181 non-null   object
 17  PORT_NEXTPOD     21181 non-null   object
 18  TML_OUT_DT       21181 non-null   datetime64[ns]
dtypes: datetime64[ns](3), float64(1), object(15)
memory usage: 21.7+ MB

In [47]:
# 데이터 프레임을 다시 학습할 수 있도록 데이터를 변환
#! 사용한 Feature들은 파워포인트 참고

# 여기에서 DWELL TIME은 단순한 STORAGE TIME을 의미해서 작업 시간에 대한 변수도 DS-MOVE 밖에 없음
# 빈 데이터 프레임 생성(최종 사용할 데이터)
last_df = pd.DataFrame(columns=["Time_of_DS_MOVE", "CONTAINER_NO", "DS_VESSEL_ID", "LD_VESSEL_ID",  "DS_VESSEL_YEAR", "LD_VESSEL_YEAR", 
                                "LD_POD", "Full_Empty", "LD_BLOCK", "LD_BAY", "DS_BLOCK", "DS_BAY",
                                "LD_CHE_ID", "LD_ITV_ID", "LD_QC_ID", "DS_CHE_ID", "DS_ITV_ID", "DS_QC_ID", 
                                "LD_QUEUE_POSITION_NUMBER", "LD_QUEUE_POSITION_HACK_DACK", "LD_H_BOX",
                                "DS_QUEUE_POSITION_NUMBER", "DS_QUEUE_POSITION_HACK_DACK", "DS_H_BOX", 
                                "COUNTRY_NEXTPOD", "PORT_NEXTPOD", "TML_OUT_DT",
                                "LD_DAY", "DS_DAY", "Dwell Time"])
i = 0

# Continous Data 변환
for container in tqdm(container_list, desc = "학습할 데이터 생성 중") : 
    temp_df = data[data['CONTAINER_NO'] == container].reset_index(drop=True)
    # DS-QUAYSIDE : 0 / DS-MOVE : 1 / DS-YARDSIDE : 2 / LD-YARDSIDE : 3 / LD-MOVE : 4 / LD-QUAYSIDE : 5
    
    #! Time of DS-MOVE 계산
    start_DS_MOVE = temp_df[temp_df['JOB_TYPE'] == 'DS-MOVE'].loc[:, 'JOB_START_DT'][1]
    end_DS_MOVE = temp_df[temp_df['JOB_TYPE'] == 'DS-MOVE'].loc[:, 'JOB_END_DT'][1]
    time_of_DS_MOVE = (end_DS_MOVE - start_DS_MOVE).seconds
    
    #! Dwell Time(Target) 계산 
    end_DS = temp_df[temp_df['JOB_TYPE'] == 'DS-YARDSIDE'].loc[:, 'JOB_END_DT'][2]
    start_LD = temp_df[temp_df['JOB_TYPE'] == 'LD-YARDSIDE'].loc[:, 'JOB_START_DT'][3]
    dwell_time = (start_LD - end_DS).days * 24 * 60 * 60 + (start_LD - end_DS).seconds
    
    #! ContainerID
    # 혹시 6개의 작업의 Container 들이 다를 수 있으니 이를 확인
    if (temp_df.loc[0, "CONTAINER_NO"] == temp_df.loc[1, "CONTAINER_NO"] == temp_df.loc[2, "CONTAINER_NO"] == temp_df.loc[3, "CONTAINER_NO"]
        == temp_df.loc[4, "CONTAINER_NO"] == temp_df.loc[5, "CONTAINER_NO"]) :
        container_id = temp_df.loc[3, "CONTAINER_NO"][:4]
    else :
        print(container, "의 경우 컨테이너 ID가 일치하지 않습니다")
        break

    #! DS-Vessel ID
    # 혹시 3개의 작업에 Vessel 아이디가 다를 수도 있으니 이를 확인
    if (temp_df.loc[0, "VESSEL"].split("/")[0] == temp_df.loc[1, "VESSEL"].split("/")[0] == temp_df.loc[2, "VESSEL"].split("/")[0]) :
        ds_vessel_id = temp_df.loc[0, "VESSEL"][:4]
    else :
        print(container, "의 경우 3개의 DS-VESSEL ID가 일치하지 않습니다")
        break
    
    #! LD-Vessel ID
    # 혹시 3개의 작업에 Vessel 아이디가 다를 수도 있으니 이를 확인
    if (temp_df.loc[3, "VESSEL"].split("/")[0] == temp_df.loc[4, "VESSEL"].split("/")[0] == temp_df.loc[5, "VESSEL"].split("/")[0]) :
        ld_vessel_id = temp_df.loc[4, "VESSEL"][:4]
    else :
        print(container, "의 경우 3개의 LD-VESSEL ID가 일치하지 않습니다")
        break

    #! DS-Vessel Year
    # 혹시 3개의 작업에 Vessel Year가 다를 수도 있으니 이를 확인
    if (temp_df.loc[0, "VESSEL"].split("/")[1] == temp_df.loc[1, "VESSEL"].split("/")[1] == temp_df.loc[2, "VESSEL"].split("/")[1]) :
        ds_vessel_year = temp_df.loc[0, "VESSEL"].split("/")[1]
    else :
        print(container, "의 경우 3개의 DS-VESSEL 년도가 일치하지 않습니다")
        break
    
    #! LD-Vessel Year
    # 혹시 3개의 작업에 Vessel 아이디가 다를 수도 있으니 이를 확인
    if (temp_df.loc[3, "VESSEL"].split("/")[1] == temp_df.loc[4, "VESSEL"].split("/")[1] == temp_df.loc[5, "VESSEL"].split("/")[1]) :
        ld_vessel_year = temp_df.loc[4, "VESSEL"].split("/")[1]
    else :
        print(container, "의 경우 3개의 LD-VESSEL 년도가 일치하지 않습니다")
        break
    
    #! LD-POD
    # 점검
    if (temp_df.loc[3, "POD"] == temp_df.loc[4, "POD"] == temp_df.loc[5, "POD"]) :
        pod_ld = temp_df.loc[3, "POD"]
    else :
        print(container, "의 경우 3개의 LD의 POD가 일치하지 않습니다")
        break
    
    #! FULL / EMPTY
    # 6가지의 경우에 다 같은지 확인
    if (temp_df.loc[0, "FULL_EMPTY"] == temp_df.loc[1, "FULL_EMPTY"] == temp_df.loc[2, "FULL_EMPTY"]
        == temp_df.loc[3, "FULL_EMPTY"] == temp_df.loc[4, "FULL_EMPTY"] == temp_df.loc[5, "FULL_EMPTY"]) :
        full_empty = temp_df.loc[0, "FULL_EMPTY"]
    else :
        print(container, "의 경우 6개의 FULL/EMPTY가 일치하지 않습니다")
        break
    
    #! BLOCK_BAY
    # 6가지의 경우에 다 같은지 확인
    if (temp_df.loc[0, "BLOCK_BAY"] == temp_df.loc[1, "BLOCK_BAY"] == temp_df.loc[2, "BLOCK_BAY"]
        == temp_df.loc[3, "BLOCK_BAY"] == temp_df.loc[4, "BLOCK_BAY"] == temp_df.loc[5, "BLOCK_BAY"]) :
        
        # P1 P2 P3 의 값이 있는 것을 확인
        if("-" in temp_df.loc[0, "BLOCK_BAY"]) : 
            temp_block_bay = temp_df.loc[0, "BLOCK_BAY"].split('-')
            block = str(int(temp_block_bay[0][:-1])) + temp_block_bay[0][-1]
            bay = temp_block_bay[1]
        else :
            block = temp_df.loc[0, "BLOCK_BAY"]
            bay = temp_df.loc[0, "BLOCK_BAY"]
    
    else :
        print(container, "의 경우 6개의 BLOCK_BAY가 일치하지 않습니다")
        continue
    
    #! LD_CHE_ID, LD_ITV_ID, LD_QC_ID, DS_CHE_ID, DS_ITV_ID, DS_QC_ID
    # 이미 이전까지 이 데이터셋을 통합하는데 문제 없다고 판단함
    ld_che_id = temp_df.loc[3, "MCHN_ID"] # = LD_YARDSIDE의 장비
    ld_itv_id = temp_df.loc[4, "MCHN_ID"] # = LD_MOVE의 장비
    ld_qc_id = temp_df.loc[5, "MCHN_ID"] # = LD_QUAYSIDE의 장비
    
    ds_che_id = temp_df.loc[2, "MCHN_ID"] # = DS_YARDSIDE의 장비
    ds_itv_id = temp_df.loc[1, "MCHN_ID"] # = DS_MOVE의 장비
    ds_qc_id = temp_df.loc[0, "MCHN_ID"] # = DS_QUAYSIDE의 장비
    
    #! LD_QUEUEPOSITION & DS_QUEUEPOSITION & COUNTRY_NEXTPOD & PORT_NEXTPOD & TML_DT_OUT
    ld_temp = temp_df.loc[5, "QUEUE_POSITION"].split("-")[0]
    ld_queue_position_number = ld_temp[:2]
    ld_queue_position_hack_deck = ld_temp[2]
    ld_h_box = temp_df.loc[5, "H_BOX"]
    
    ds_temp = temp_df.loc[0, "QUEUE_POSITION"].split("-")[0]
    ds_queue_position_number = ds_temp[:2]
    ds_queue_position_hack_deck = ds_temp[2]
    ds_h_box = temp_df.loc[0, "H_BOX"]
    
    #  결측치가 아니면 값을 넣어주겠다
    if (temp_df.loc[0, "COUNTRY_NEXTPOD"] != -1) :
        country_nextpod = temp_df.loc[0, "COUNTRY_NEXTPOD"]
    else : 
        country_nextpod = np.nan
        
    if (temp_df.loc[0, "PORT_NEXTPOD"] != -1) :
        port_nextpod = temp_df.loc[0, "PORT_NEXTPOD"]
    else :
        port_nextpod = np.nan
        
    if (temp_df.loc[0, "TML_OUT_DT"] != -1) :
        tml_out_dt = temp_df.loc[0, "TML_OUT_DT"]
    else :
        tml_out_dt = np.nan

    #! 요일
    ld_day = temp_df.loc[4, 'JOB_START_DT'].day_name()
    ds_day = temp_df.loc[0, "JOB_START_DT"].day_name()
    
    #! 전처리한 값 집어넣어주기
    row_list = [time_of_DS_MOVE, container_id, ds_vessel_id, ld_vessel_id, ds_vessel_year, ld_vessel_year, pod_ld, full_empty, 
                ld_block, ld_bay, ds_block, ds_bay, ld_che_id, ld_itv_id, ld_qc_id, ds_che_id, ds_itv_id, ds_qc_id, 
                ld_queue_position_number, ld_queue_position_hack_deck, ld_h_box, ds_queue_position_number, ds_queue_position_hack_deck, ds_h_box,
                country_nextpod, port_nextpod, tml_out_dt, ld_day, ds_day,
                dwell_time]
    last_df.loc[i, :] = row_list
    i += 1

학습할 데이터 생성 중:   1%|          | 173/24900 [00:02<06:20, 65.02it/s]

TCNU7514310-4 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   1%|          | 230/24900 [00:03<05:14, 78.44it/s]

TTNU9928170-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSKU0800781-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MRKU6076769-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MRKU4389450-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   1%|          | 246/24900 [00:03<05:17, 77.61it/s]

MRKU2465525-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   2%|▏         | 398/24900 [00:05<05:18, 76.88it/s]

MNBU3586120-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
CAIU7230624-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   2%|▏         | 439/24900 [00:06<05:13, 78.02it/s]

MSKU8239384-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   2%|▏         | 487/24900 [00:06<05:29, 74.04it/s]

CAIU8056923-3 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
TGHU9187116-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   2%|▏         | 527/24900 [00:07<05:24, 75.17it/s]

TCLU9250734-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   2%|▏         | 568/24900 [00:07<05:17, 76.72it/s]

PONU7447399-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
PONU1780118-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   2%|▏         | 608/24900 [00:08<05:24, 74.97it/s]

MWCU6963111-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   3%|▎         | 648/24900 [00:08<05:29, 73.58it/s]

MSKU6970240-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSKU6800080-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   3%|▎         | 777/24900 [00:10<05:08, 78.08it/s]

MRKU4993579-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MRKU4118675-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   3%|▎         | 842/24900 [00:11<05:16, 76.10it/s]

MRKU0768163-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3904073-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3904068-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   3%|▎         | 867/24900 [00:11<05:11, 77.21it/s]

MNBU3903987-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3903950-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3903858-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3883155-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU0408110-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   4%|▍         | 970/24900 [00:13<05:27, 72.97it/s]

TRLU6765490-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
TRIU8085033-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   4%|▍         | 1026/24900 [00:13<05:20, 74.38it/s]

TCNU7042549-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   4%|▍         | 1074/24900 [00:14<05:19, 74.59it/s]

MSKU0731398-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSCU9184604-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   4%|▍         | 1090/24900 [00:14<05:21, 74.12it/s]

MSCU8516129-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSCU7469974-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSCU7465259-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   4%|▍         | 1106/24900 [00:15<05:40, 69.80it/s]

MSCU5789942-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   5%|▍         | 1159/24900 [00:15<05:51, 67.51it/s]

MNBU3900550-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3900524-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   5%|▍         | 1198/24900 [00:16<05:30, 71.74it/s]

MNBU3887016-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3354531-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MEDU9127431-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   5%|▍         | 1230/24900 [00:16<05:19, 74.02it/s]

MEDU4700535-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MEDU4025123-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   5%|▌         | 1287/24900 [00:17<05:11, 75.68it/s]

GLDU7491118-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   5%|▌         | 1319/24900 [00:18<05:08, 76.55it/s]

DFSU6870444-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
DAYU6708865-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
CXRU1206938-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   6%|▌         | 1375/24900 [00:18<05:19, 73.70it/s]

BMOU5927332-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
BMOU5634740-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   6%|▌         | 1463/24900 [00:20<05:20, 73.21it/s]

MRKU6271662-3 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MRKU1022878-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   6%|▋         | 1575/24900 [00:21<05:03, 76.82it/s]

MNBU3017459-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU0105725-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1624/24900 [00:22<05:03, 76.69it/s]

MWMU6348724-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MWCU6765878-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MWCU6755226-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1688/24900 [00:23<05:01, 77.03it/s]

MNBU3841165-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3840256-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3817831-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3803627-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3549467-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3503872-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3438653-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1728/24900 [00:23<05:09, 74.87it/s]

TRHU2206068-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSCU1744997-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU0007400-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MMAU1238596-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1744/24900 [00:23<05:12, 74.03it/s]

MEDU2127682-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1768/24900 [00:24<05:10, 74.58it/s]

PONU7846552-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSKU9381238-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1784/24900 [00:24<05:17, 72.71it/s]

MSKU8465951-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSKU1411871-3 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1808/24900 [00:24<05:19, 72.27it/s]

MRKU6356651-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MRKU5849904-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   7%|▋         | 1846/24900 [00:25<05:38, 68.19it/s]

MNBU3528079-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3473490-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 1869/24900 [00:25<05:35, 68.56it/s]

MNBU3046225-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3020869-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 1911/24900 [00:26<05:50, 65.66it/s]

PONU0571685-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 1941/24900 [00:26<05:33, 68.86it/s]

MNBU9025282-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3924059-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 1972/24900 [00:27<05:26, 70.26it/s]

MNBU3921240-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3921213-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3920897-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 1996/24900 [00:27<05:15, 72.50it/s]

MNBU3920808-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3920731-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3920691-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3920639-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 2028/24900 [00:28<05:12, 73.20it/s]

MNBU3903420-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3903415-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3901731-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3892141-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   8%|▊         | 2051/24900 [00:28<05:38, 67.43it/s]

MNBU3892049-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MNBU3792970-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   9%|▊         | 2130/24900 [00:29<05:05, 74.57it/s]

MRKU8210650-2 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MRKU4145290-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   9%|▊         | 2170/24900 [00:30<05:05, 74.44it/s]

BMOU2739028-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   9%|▉         | 2218/24900 [00:30<05:09, 73.28it/s]

MSCU5959519-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
MSCU5870782-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:   9%|▉         | 2288/24900 [00:31<05:23, 69.98it/s]

CAIU7782808-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다
CAIU7643103-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:  10%|▉         | 2384/24900 [00:33<07:09, 52.48it/s]

MWCU6750672-1 의 경우 6개의 BLOCK_BAY가 일치하지 않습니다

학습할 데이터 생성 중:  10%|▉         | 2489/24900 [00:35<05:16, 70.83it/s]

KeyboardInterrupt:

In [43]:
sex = "12321321A"
sex[:-1]

'12321321'

In [67]:
last_df.info()
last_df.to_csv('Data.csv', index=False, encoding='CP949')

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24892 entries, 0 to 24891
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Time of DS-QUAYSIDE  24892 non-null  object
 1   Time of DS-MOVE      24892 non-null  object
 2   Time of DS-YARDSIDE  24892 non-null  object
 3   ContainerID          24892 non-null  object
 4   DS-VESSEL-ID         24892 non-null  object
 5   LD-VESSEL-ID         24892 non-null  object
 6   DS-VESSEL-YEAR       24892 non-null  object
 7   LD-VESSEL-YEAR       24892 non-null  object
 8   LD-POD               24892 non-null  object
 9   Full                 24892 non-null  object
 10  Empty                24892 non-null  object
 11  Dwell Time           24892 non-null  object
dtypes: object(12)
memory usage: 3.0+ MB